.mainContent {
  padding-left: 10px;
  background-color: #f9f9f9;
  color: #000;
}

.dark-theme .mainContent {
  background-color: #121212;
  color: #ffffff; 
}

.dark-theme .mainContent h2{
  background-color: #121212; 
  color: #ffffff;
}